body{
    background: url('./img/bg.png');
    background-size: 100%;
}
#app{
    font-family: Arial;
    color: #fff;
    text-align: center;
}
.card-title{
    padding: 0 0 10px 0;
    border-bottom: 2px solid #fff;
}