<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>{{month}}</title>
</head>
<body>
<div class="container">
    <div id = 'calendar' class="calendar">
        <tool-tip
            :msg='now'
            v-if='ttToday'
            :class = '{tooltip}'
            :style='coordTT'
        ></tool-tip>

        <table :id='month' @mouseover='hMouseOver' @mouseout='hMouseOut'>
            <caption>
                <span @click.prevent='changeMonthB' @click.right.prevent class="chMonth">◄</span> 
                    <span  @click.right.prevent @click.left.prevent='chMonthCur' class="chMonth">{{month}}</span>
                <span @click.prevent='changeMonthF' @click.right.prevent class="chMonth">►</span>  
            </caption>
            <tr>
                <td v-for='(item,index) in weekDaysArr' :class='index>4 ? "weekEndStyle": "regular"'>{{item}}</td>
            </tr>
            <tr 
                v-for='(item, index) in 6'>
                <td v-for='item in days[index]' 
                    :class='item==today && month==toMonth ? "today" : "regular"'
                    >{{item}}</td>
            </tr>
        </table>
    </div>
</div>

<script src="script.js"></script>    
</body>
</html>