table, td {
    margin: 50px auto;
    text-align: center;
}
caption {
    font: 22px arial;
}

.chMonth{
    cursor: pointer;
}
.chMonth:hover {
    color: gray;
}

.today {
    background-color: silver;
    border-radius: 5px;
    cursor: default;
}
.weekEndStyle{
    font: italic 14px/1.3 sans-serif;
}

.tooltip {
    position: fixed;
    z-index: 100;
    /* подсказка должна перекрывать другие элементы */

    padding: 10px 10px;
    /* красивости... */

    border: 1px solid #b3c9ce;
    border-radius: 4px;
    text-align: center;
    font: italic 14px/1.3 sans-serif;
    color: #333;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
  }